* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 404px;
  font-family: Oswald, sans-serif;
  font-size: 88%;
}

a {
  position: relative;
  padding: 5px;
  color: white;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  transition-duration: 1s;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

a:hover,
img:hover ~ a {
  border-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.75);
  transition-duration: 0.5s;
}

header.head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  color: white;
}

h1 {
  position: relative;
  padding: 10px;
  margin-left: 20px;
  font-size: 3rem;
  font-weight: lighter;
  font-variant: small-caps;
  /* Easter Egg */
}
h1::before {
  content: "Ray Beliveau";
  position: absolute;
  top: 10px;
  left: 10px;
  filter: blur(0px);
  opacity: 1;
  transition-duration: 1s;
}
h1:hover::before {
  content: "Ray Beliveau";
  position: absolute;
  top: -10px;
  left: 10px;
  filter: blur(10px);
  opacity: 0.5;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-right: 50px;
}

section {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
}

footer {
  padding: 50px;
  text-align: center;
  color: white;
  background-color: black;
}

#about_me {
  justify-content: center;
  height: 100vh;
  background-attachment: fixed;
  background-color: black;
  background-image: url("/images/RayBeliveauHeadshot.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  color: white;
}
#about_me p {
  padding: 10px;
}

#work {
  color: black;
}
#work ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 1px;
  list-style: none;
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
#work ul li {
  position: relative;
  width: calc(25% - 1px);
  height: calc(33.33% - 1px);
  background-color: black;
  background-position: center center;
  box-sizing: border-box;
}
#work ul li:first-of-type {
  width: 50%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}
#work ul li:first-of-type div {
  bottom: 50px;
  transform: scale(1.5);
  transform-origin: bottom left;
}
#work ul a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0;
}
#work ul a:hover {
  background-color: rgba(0, 0, 0, 0);
}
#work ul p {
  font-variant: all-small-caps;
}
#work ul div {
  padding: 5px 10px;
  position: absolute;
  left: 0;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

#contact_me {
  justify-content: space-between;
  gap: 20px;
  background-color: black;
  color: white;
}
#contact_me menu {
  align-self: center;
}
#contact_me li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
  list-style: none;
}
#contact_me li img {
  width: 20px;
  height: 20px;
}

@media (width >= 1200px) {
  #about_me header,
  #about_me article {
    margin-left: 900px;
    margin-right: 50px;
    width: auto;
  }
}
@media (width <= 700px) {
  header.head {
    flex-direction: column;
    align-items: flex-start;
  }
  nav {
    flex-direction: column;
    align-self: flex-end;
    margin-right: 10px;
  }
  #work {
    height: 100vh;
  }
  #work ul {
    height: 100%;
    flex-direction: row;
  }
  #work ul li {
    width: calc(50% - 5px);
    height: calc(16.6666666667% - 5px);
  }
  #work ul li:first-of-type {
    width: 100%;
    height: 50%;
  }
}
@media (width <= 1200px) {
  #about_me {
    justify-content: flex-end;
    background-size: contain;
  }
  #about_me article {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/*# sourceMappingURL=style.css.map */
